<form action="/signup" method="POST" class="signupform">
  <div>
    <label for="email">E-MAIL</label>
    <input name="email" type="email" required />
  </div>
  <div>
    <label for="password">PASSWORD</label>
    <input name="password" type="password" required />
  </div>
  <div>
    <label for="name">NAME</label>
    <input name="name" type="text" required />
  </div>
  <div>
    <label for="adminCode">ADMIN CODE</label>
    <input name="adminCode" type="text" />
  </div>
  <button class="btn">SIGNUP!</button>
</form>
